<p>
  <b>Firstname:</b>
  <%=h @member.firstname %>
</p>

<p>
  <b>Lastname:</b>
  <%=h @member.lastname %>
</p>

<p>
  <b>Email:</b>
  <%=h @member.email %>
</p>


<%= link_to 'Edit', edit_member_path(@member) %> |
<%= link_to 'Back', members_path %>